# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist/
**/tmp/
**/out-tsc/
**/build/
**/target/

# Dependencies
**/node_modules/

# Profiling files
**chrome-profiler-events*.json
**speed-measure-plugin*.json

# Only exists if Bazel was run
**/bazel-out/

# IDEs and editors
**.idea/
**.project
**.classpath
**.c9/
**.launch
**.settings/
**.sublime-workspace
**.iws
**.iml
**.ipr

# IDE - VSCode
**.vscode/
!**.vscode/settings.json
!**.vscode/tasks.json
!**.vscode/launch.json
!**.vscode/extensions.json
**.history/*

# Misc
**HELP.md
**/.sass-cache
**/connect.lock
**/coverage/
**/libpeerconnection.log
**npm-debug.log
**yarn-error.log
**testem.log
**/typings/
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/target/
!**/src/test/**/target/
!**.mvn/wrapper/maven-wrapper.jar

# System Files
**.DS_Store
**Thumbs.db
**/.metadata/

### STS ###
**.apt_generated
**.factorypath
**.settings
**.springBeans
**.sts4-cache

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/nbdist/
**/.nb-gradle/
